
h1 {
  margin: 10%;
}
img {
  width: 100%;
  height: auto;
}
/*logo*/

.logo-arcadia {
  width: 15%;
  height: auto;
  background-size: contain;
  border-radius: 30%;
}
.background {
  width: 10%;
  height: 100%;
  padding: 2%;
  background: linear-gradient(to bottom right, #cbe5eb, #6dcff6);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}
.background-ac{
  width: 10%;
  height: 100%;
  padding: 2%;
  background: linear-gradient(to bottom right, #7ca196, #509467);
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5),
    -10px -10px 20px 0px rgba(255, 255, 255, 0.5);
}
.vitrine-accueil {
  background-color: #1d4632;
  text-align: center;
  color: white;
}
/*presentation Arcadia*/
.table-stair {
  width: 60%;
  margin: 0 auto;
}
.img-responsive-rec {
  width: 50%;
  border-radius: 30%;
}
.img-circle {
  margin: 4em;
}
.circ {
  width: 70%;
}
.tex-top,
.middle-text,
.bottom-text {
  position: relative;
  text-align: center;
}
.text-top {
  right: 10%;
}
.middle-text {
  left: 30%;
}
.bottom-text {
  left: 20%;
}
/*section habitat*/
.text-center {
  text-align: center;
  width: 50%;
  margin: 3% 25%;
}
/*Avis accueil*/

.jumbotron-fluid {
  background-color: #cbe5eb;
  color: #040404;
  text-align: center;
  padding: 5%;
}
.row-comment {
  display: flex;
  color: black;
}
.card-body-avis {
  border-radius: 10px;
  height: 20vh;
  width: 30vh;
  background-color: #cbe5eb;
  color: #040404;
}

/*section Animaux*/
.animal-link {
  position: absolute;
  margin: -8em -2em;
  font-size: 2em;
  padding: 3%;
  width: 40%;
}

@media screen and (max-width: 900px) {
  .animal-link {
    font-size: 2rem;
    width: 70%;
    left: 7em;
    margin-top: -13em;
  }
}

/*Pages avis*/
/*formulaire Avis*/
.form-comment {
  color: #040404;
}

/*PAGE SERVICE*/

.service1 {
  width: 50%;
  max-width: 100%;
  height: auto;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.service2 {
  float: right;
  width: 50%;
  max-width: 100%;
  height: auto;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
.service3 {
  float: left;
  width: 50%;
  max-width: 100%;
  height: auto;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 50%;
}
/*PAGE Habitat*/
@media screen and (max-width: 700px) {
  .description-habitat {
    width: 90%;
  }
}
.description-habitat {
  width: 60%;
  margin: 0 auto;
}

.list-group {
  width: 15%;
  color: #040404;
  margin: 0 auto;
}
#savane,
#marais,
#jungle {
  text-align: center;
}
.card_habitat {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: solid #1d4632 10px;
  color: #ffffff;
}
.card_habitat:hover {
  border-radius: 10px;
  border: #030303 solid 1px;
  color: #040404;
}

/*link sans decoration*/

.btn_habitat {
  margin: 0 auto;
  padding: 2%;
  text-decoration: none;
  border-radius: 50% 20% / 10% 40%;
  border: #9a7412 solid 1px;
  color: #9a7412;
}
.btn_habitat:hover {
  color: #ffffff;
  background-color: #9a7412;
  text-decoration: none;
}

/*PAGE Administration*/
.ac-admin {
  background-color: #0a2535;
}
.titre-admin {
  color: #ffffff;
  text-align: center;
}
/*carnet de sante*/

.card-sante {
  margin: 0 auto;
  width: 50%;
}

/*rendu formulaire style*/
.border-form {
  border: #1d4632 solid 1px;
  border-radius: 10px;
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  background-color: #cbe5eb;
  color: #040404;
}
.form-btn {
  color: rgb(253, 250, 250);
  background-color: #000000;
  border: #1d4632 solid 1px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: bold;
  display: inline-block;
  padding: 2%;
}
.form-btn:hover {
  text-decoration: none;
  color: #1d4632;
  background-color: #fff;
}
.top{
  margin-left:47%;
  position:absolute;

}

/*PAGE Admin*/
.nav-pills {
  margin: 0 auto;
  width: 30%;
}

.card-img-top {
  width: 50%;
  border-radius: 70%;
  border: #000000 solid 10px;
}
.central-card {
  width: 100%;
  margin: 0 auto;
}
/*Accueil Page*/
.ac-p {
  border-radius: 20%;
  border-top: #000000 solid 10px;
  border-bottom: #000000 solid 10px;
  border-right: transparent;
  padding: 2%;
  margin: 0 auto;
  width: 50%;
  background-color: #cbe5eb;
  color: #040404;
}

/*navbar*/
.nav-index{
margin-left: 12%;
}
/*footer*/
.footer-p{
  text-align: center;
  background-color:#cbe5eb;
  color: #ffffff;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  padding:10%;
  height:100%;
  width:100%;

}
.back{
  margin-right: 100%;
}
.habit-img{
  width:50%;
  border-radius: 20%;
}
